# Ignore node_modules and environment files
node_modules/
# Ignore .NET build and env files
UserManagementAPI/bin/
UserManagementAPI/obj/
UserManagementAPI/appsettings.*
UserManagementAPI/.env



# Compiled output
/user-management-app/dist
/user-management-app/tmp
/user-management-app/out-tsc
/user-management-app/bazel-out

# Node
/user-management-app/node_modules
user-management-app/npm-debug.log
user-management-app/yarn-error.log

# IDEs and editors
user-management-app/.idea/
user-management-app/.project
user-management-app/.classpath
user-management-app/.c9/
user-management-app/*.launch
user-management-app/.settings/
user-management-app/*.sublime-workspace

# Visual Studio Code
user-management-app/.vscode/*
user-management-app/.history/*

# System files
user-management-app/.DS_Store
user-management-app/Thumbs.db
